/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 10px 177px;
	font-family:'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš vyzobnout a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis
	--mujnazev: hodnota
	Když chci, abych mohl hodnotu používat všude v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom dál v CSS hodnotu použít, stačí použít funkci var a v závorce název proměnné.Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/
/**********===GRID ROZDĚLENÍ===***********/
.blog {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	gap: 40px;
} 
header,
footer{
	grid-column: 2/3;
}
p {
	grid-column: 2/3;
	margin:0;
}
.tip-left {
	grid-column: 1/2;
}
.detox,
.oberte-kere {
	grid-column: 2/3;
}
/*******===HEADER===****************/
header h1 {
	color: var(--limetka);
	font-size: 95px;
	line-height: 1.2;
	margin-top: 60px;
}
.author {
	grid-column: 2/3;
	color: var(--seda);
	margin-top: 70px;
	margin-bottom: 0;
}
/***********===TIPY===**********************/
.tip {
	background-color: #f1efef;
	text-align: right;
	color:var(--tmava);
	line-height: 1.5;
	font-size: 16px;
	padding: 10px 12px;
	height:130px;
	border-right: 2px solid var(--oranzova);
}
.tip p{
	margin:5px;
}
.tip a{
	color: var(--oranzova);
}
.tip__img--palacinky {
	width: 120px;
}
.tip-right {
	text-align: left;
	border-right: none;
	border-left: 2px solid var(--oranzova);
	height:85px;
}
.tip-left2 {
	height: 225px;
	padding:15px 15px;
}
/**************===IMAGES===******************/
.main__images img {
	width:100%;
}
.main__images{
	grid-column: 1/span 3;
	margin: 0;
}
.images--description {
	color: #95a2a7;
}
/****************===BLOCKQUOTE===*******************/
.blockquote {
	grid-column: 1/-1;
	font-size: 35px;
	color:#a8b7bd;
	margin:0px auto;
}
.blockquote::before,
.blockquote::after{
	content:"";
	display: block;
	width:100px;
	height: 3px;
	background-color:var(--limetka);
}
blockquote.blockquote-a::before{
	margin: 0 0 30px 240px;
}
blockquote.blockquote-a::after {
	margin: 30px 0px 0px 240px;
}
blockquote.blockquote-b::before{
	margin: 0px 0px 30px 400px;
	width: 150px;
}
blockquote.blockquote-b::after{
	margin: 30px 0px 0px 400px;
	width: 150px;
}

/***************===HEADINGS SECTIONS===***********/
.detox,
.oberte-kere {
	color:#a3cb38;
	font-size: 50px;
	margin-top: 20px;
}

/****************===PATIČKA===****************/
footer {
	color:#95a2a7;
	font-size: 14px;
	margin-bottom: 40px;
}
footer a {
	color:#95a2a7;
}